py-cord
PyNaCl==1.3.0
pandas
dnspython==1.16.0
async-timeout==3.0.1
ffmpeg-python
gevent
google-cloud-speech
graphviz
ipywidgets
jupyter
matplotlib
Pillow
tqdm
youtube-dl
youtube_dl
asyncpg
asyncio
pip
psycopg2-binary
pillow
cutlet
html2text
pet-pet-gif
gTTS